benchmark_cache
__pycache__/
*.py[cod]
*$py.class

*.so

dist/
build/
*.egg-info/
eggs/
*.egg

venv/
env/
ENV/
.env/
.venv/

.ipynb_checkpoints

.idea/
.vscode/
*.swp
*.swo

.pytest_cache/
.coverage
htmlcov/

.env
.local
*.json
*.jsonl

!.gdvc_config.json
profile_output_a100/
